<!DOCTYPE html>
<html>
  <head>
    <title>Instagram clone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%= csrf_meta_tags %>
   <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <body>
    <header class="container">

        <% if logged_in? %>
          <ul>
            <li><button type="button" class="btn btn-default"><%= link_to "My profile", user_path(current_user.id) %></li>
            <li><button type="button" class="btn btn-primary"><%= link_to "New Post", new_post_path %></li>
            <li><button type="button" class="btn btn-default"><%= link_to "Favorite", favourite_user_path(current_user.id) %></li>
            <li><button type="button" class="btn btn-danger"><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
          </ul>
          <% else %>
          <ul>
            <li><button type="button" class="btn btn-default"><%= link_to "Login", new_session_path %></li>
            <li><button type="button" class="btn btn-primary"><%= link_to "Join", new_user_path %></li>
          </ul>
      <% end %>
    </header>
    <% flash.each do |key, value| %>

      <%= content_tag(:div, value, class: "#{key}") %>

    <% end %>

    <%= yield %>
    <%= render 'shared/navbar'  %>
    <footer>
      <p>© 2020 Copyright Facebook_clone </p>
    </footer>

  </body>
</html>
